


.navbar{
    height:15vw;
    background-color: rgb(114, 114, 223);
}
.row{
    margin: 5px;
}
.branch{
    top: 50%;
    margin-top: 30px;
     
    margin-left: 10%;
    margin-right: 10%;

}
.branch > div{
    /* flex-direction: row;
    flex-direction: column; */
    /* display: flex;
    flex-direction: row; */
    color: brown;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    transition: 0.5s linear;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    padding: 2%;
    /* padding-top: 2.5vw; */
    /* display: flex;
    flex-direction: row; */
    
}
.headlin{
    text-align: center;
}
/* .col-lg-3{
    margin: 2px auto; */

/* .branch div:hover{
    width: 65%;
    height: auto;
    transition-timing-function: ease-in-out;

} */
.textprev{
    background:rgb(0, 0, 0);
    color: aliceblue;
    /* float: left; */
    font-size: 1rem;
}
.one{
    background:rgb(135, 135, 211);
    border: 2px solid rgb(135, 135, 211);
    /* float: left; */
    font-size: 1.3rem;
}
/* .one a {
    width: 100%;
    padding: 0.8%;
    margin-bottom: 5px;
    transition: 0.5s linear;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: aliceblue;
} */
.two{
    background: rgb(135, 135, 211);
    /* clear: left; */
}
.three{
    background: rgb(135, 135, 211);
    /* float: left; */
    
}
.three:hover,.two:hover,.one:hover{
    background: rgb(107, 107, 209);
    transition-duration: all 3s ;
}
/* .page{
    background-color: rgb(187, 175, 244);
    height: 5vw;
    width: 80%;
    float: ;
} */